<configuration>
  <system.webServer>
    <handlers>
      <!-- Ustawienie obsługi dla plików statycznych -->
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
      <!-- Ustawienie obsługi dla routingu do aplikacji React Native -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <!-- Przekierowanie wszystkich żądań do aplikacji React Native -->
      <rules>
        <clear />
        <rule name="ReactNative" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
